<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style3.css">
    <title>HOME</title>
</head>
<body>
<div class="topnav">

    <div class="topnav-centered">
      <a href="/" class="active">My Portfolio</a>
    </div>
  
    <!-- Left-aligned links (default) -->
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
  
    <!-- Right-aligned links -->
    <div class="topnav-right">
      <a href="/downcv">Download CV</a>
      <a href="#about">About</a>
    </div>
  
  </div>
    <br>
    <br>
    <br>
    <div class="hero-image">
        <div class="hero-text">
          <h1>About</h1>
          <p>Welcome to About Section, I'm delighted to have you here.<br>
            I'm a Python developer with a passion for coding and a strong interest in cybersecurity. 
            Currently, I am pursuing a BS degree in Cyber Security at FAST-NUCES, where I am gaining a deep understanding of the principles and practices of securing digital systems. 
            One of my favorite activities outside of my academic pursuits is participating in Capture The Flag (CTF) competitions with my team, Conficker. 
            These competitions provide a unique platform to apply and enhance my technical skills in a challenging and engaging environment. 
            Solving complex puzzles and securing vulnerable systems during these events has honed my problem-solving abilities and exposed me to real-world cybersecurity scenarios. 
            Python has been my language of choice for its simplicity, versatility, and extensive libraries. 
            I have utilized Python to develop a wide range of projects, from web applications to automation scripts. 
            Its flexibility allows me to create efficient and scalable solutions while maintaining readability and maintainability. 
            My academic journey in Cyber Security has provided me with a solid theoretical foundation. 
            I have explored various topics such as network security, cryptography, ethical hacking, and risk assessment. 
            Combining this knowledge with my hands-on experience in CTFs has allowed me to develop a comprehensive understanding of cybersecurity principles and their practical applications. 
            On this website, you'll find a collection of my Python projects that showcase my technical skills, creativity, and problem-solving abilities. 
            I invite you to explore these projects and join me on my journey as I strive to contribute to the ever-evolving field of Python development and cybersecurity. 
            Thank you for visiting my website, and I look forward to connecting with you. 
            Together, let's explore the exciting world of technology, cybersecurity, and innovation.</p>
          <button class = "button buttonblue">Hire me</button>
        </div>
      </div>
      <footer>
        <p>Author: AbdulBar  Email: 
        <a href="mailto:zunairjunejo106j@gmail.com">zunairjunejo106j@gmail.com</a></p>
      </footer>
</body>
</html>