<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>HOME</title>
</head>
<body>
<div class="topnav">

    <div class="topnav-centered">
      <a href="/" class="active">My Portfolio</a>
    </div>
  
    <!-- Left-aligned links (default) -->
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
  
    <!-- Right-aligned links -->
    <div class="topnav-right">
      <a href="/downcv">Download CV</a>
      <a href="/about">About</a>
    </div>
  
  </div>
    <br>
    <br>
    <br>
    <div class="hero-image">
        <div class="hero-text">
          <h1>CV Download</h1>
        </div>
      </div>
      <footer>
        <p>Author: AbdulBar  Email: 
        <a href="mailto:zunairjunejo106j@gmail.com">zunairjunejo106j@gmail.com</a></p>
      </footer>
</body>
</html>