<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style1.css">
    <title>HOME</title>
</head>
<body>
<div class="topnav">

    <div class="topnav-centered">
      <a href="/" class="active">My Portfolio</a>
    </div>
  
    <!-- Left-aligned links (default) -->
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
  
    <!-- Right-aligned links -->
    <div class="topnav-right">
      <a href="/downcv">Download CV</a>
      <a href="/about">About</a>
    </div>
  
  </div>
    <br>
    <br>
    <br>
    <div class="hero-image">
        <!-- galary -->

<div class = "prohead">
<h2>Projects Gallery</h2>

<h4>More Projects Coming Soon</h4>
</div>
<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="img_5terre.jpg">
      <img src="/static/images/caesar.png" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Caesar Cypher</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="img_forest.jpg">
      <img src="/static/images/bj.png" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">Black-Jack</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="img_lights.jpg">
      <img src="/static/images/numguess.png" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">Number Guesser</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="img_mountains.jpg">
      <img src="/static/images/sauction.png" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">Secret Auction</div>
  </div>
</div>




<div class="clearfix"></div>

<div style="padding:6px;">
     <p>Projects Made By Me</p>
</div>


        <!-- galary -->
      </div>

</body>
</html>